<IfModule mod_authz_core.c>
    <FilesMatch "\.sql$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "\.sql$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
